<div class='section'>
    <h2 class='section-name'>{{name}}</h2>
    <input class='section-name-input hidden' type='text' placeholder=''>

	<p class='section-content'>{{text}}</p>
    <input class ='section-content-input hidden' type='text' placeholder=''>
</div>
