<div class = 'section'>
    <h2 class = 'sectionName'>{{name}}</h2>
    <input type='text' placeholder='' class ='newSectionName hidden'>
    <p class = 'sectionText'>
        {{text}}
    </p>
    <input type='text' placeholder='' class ='newSectionText hidden'>
</div>