<!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.runtime.js" charset="utf-8" defer></script>
    <script src="/wikiTemplate.js" charset="utf-8" defer></script>
    <script src="/index.js" charset="utf-8" defer></script>
-->

<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<title>The Quill</title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel='stylesheet' href='/style.css' media='screen'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.runtime.js" charset="utf-8" defer></script>
    <script src="/wikiTemplates.js" charset="utf-8" defer></script>
    <script src="/index.js" charset="utf-8" defer></script>

</head>

<body>
    <nav class='navbar'>
    	<!-- ^^this^^ should be a fixed element, I propose color #50006d -->
        <ul class='nav-list'>
			<li><a href='http://localhost:3400/'><img class='logo' src='/quill.png' alt='quill.png' height='24px'>QUILL</a></li>
            <li><a href='http://localhost:3400/wiki/blueberry'>BLUEBERRY</a></li>
            <li><a href='http://localhost:3400/wiki/cucumber'>CUCUMBER</a></li>
            <li><a href='http://localhost:3400/wiki/tomato'>TOMATO</a></li>
	        <li>
				<button class='search-button' type='button'>
					<img src='/quill.png' alt='quill.png' height='14px'>
				</button>
			<li>
			<li><input class='search-input' type='text' placeholder='search...'></li>
        </ul>

    </nav>

    {{{body}}}

</body>

</html>
