

    <main class='content'>
		<button type='button' id='create-button'>Create a Scroll</button>
        <h3>WELCOME TO THE QUILL</h3>
        <p>The Quill is an open source and freely available wiki where anyone can make pages of any kind they want!</p>
        <p class='featured-list'>
            Featured Scrolls:
            <ul>
                {{#each wikiFeatured}}
                    {{> featuredScrolls}}
                {{/each}}
            </ul>
        </p>
        <p class='recent-list'>
            Recent Scrolls:
            <ul>
                {{#each wikiRecent}}
                    {{> recentScrolls}}
                {{/each}}
            </ul>
        </p>
    </main>

    <div id='backdrop' class='hidden'>
	  	<div id='modal' class='hidden'>
	        Create a Scroll
			<div class="modal-title">
				Scroll Title
				<input type='text' placeholder='' id='new-scroll-name'>
			</div>
		  	<div id='modal-footer'>
				<button type='button' id='cancel-button'>Cancel</button>
				<button type='button' id='accept-button'>Accept</button>
		  	</div>
	    </div>
  	</div>
