<!--

Formmatting:

Title
    header1
    image
    Section container
        section
            sectionName
            input new section
            section text
            inout new section

-->
    <main class='content'>

      <div>
        <h1 id ='name-of-page'>
          {{title}}
        </h1>
        <input type='text' placeholder='' id ='new-page-title' class = 'hidden'>
        <p id = 'text-in-summary'>
          {{summary}}
        </p>
          <input type='text' placeholder= '' id ='new-page-summary' class =  'hidden'>
      </div>

      <div>
        <img src="{{image}}" alt="" id = 'page-image'>
          <input type='text' placeholder= '' id ='new-page-image' class =  'hidden'>
      </div>


      <div id = 'sections-container'>
            {{#each sectionData}} <!-- input section name and section text -->
                {{> section}}
            {{/each}}
      </div>

    </main>

    <button type="button" id="edit-page-button">Edit Page</button>
    <button type="button" id="add-section-button" class='hidden'>Add Section</button>
    <button type="button" id="accept-edit-button" class='hidden'>Accept Changes</button>
    <button type="button" id="cancel-edit-button" class='hidden'>Cancel Changes</button>
